body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0; /* Color de fondo suave */
    background-image: url(texture.jpg); /* Ruta de la textura */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#hangman-container {
    text-align: center;
    background-color: #fff; /* Fondo blanco para resaltar el contenido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#word-display {
    font-size: 2em;
    margin: 20px 0;
}

#incorrect-letters {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ff4500; /* Color naranja para letras incorrectas */
}

#hangman-image {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: #f0f0f0; /* Fondo gris claro para el área del ahorcado */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 2px solid #555; /* Borde gris para resaltar la imagen del ahorcado */
    border-radius: 10px;
}

#message {
    font-size: 1.5em;
    margin: 20px 0;
    color: rgb(9, 136, 37); /* Color verde para mensajes positivos */
}

#reset-button {
    padding: 15px 20px;
    background-color: #242c25;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

#reset-button:hover {
    background-color: #526653; /* Color ligeramente más oscuro al pasar el ratón */
}


